html {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.625em;
  overflow-y: scroll;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 480px) {
    font-size: 87.5%;
  }

  @media (min-width: 480px) and (max-width: 784px) {
    font-size: calc(0.875rem + 2 * (100vw - 480px) / (784 - 480));
  }
}

body {
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  padding: var(--element-h-padding) var(--side-padding);
  word-wrap: break-word;
  color: var(--color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  font-weight: bold;
}

* {
  box-sizing: inherit;
}

*::before {
  box-sizing: inherit;
}

*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.4375rem;
  margin-top: 2.4375rem;
  margin-right: 0;
  margin-bottom: 1.21875rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: calc(0.40625rem - 1px);
  padding-left: 0;
  border-bottom: 1px solid;
  border-color: var(--border-color);
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: 1.51572rem;
  line-height: 2.4375rem;
  margin-top: 1.625rem;
  margin-right: 0;
  margin-bottom: 0.40625rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: calc(0.40625rem - 1px);
  padding-left: 0;
  border-bottom: 1px solid;
  border-color: var(--border-color);
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 1.31951rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-rendering: optimizeLegibility;
}

h4 {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-rendering: optimizeLegibility;
}

h5 {
  font-size: 0.87055rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-rendering: optimizeLegibility;
}

h6 {
  font-size: 0.81225rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-rendering: optimizeLegibility;
}

ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 1.625rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 1.625rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

dd {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

figure {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

pre {
  font-size: 0.85rem;
  line-height: 1.42;
  overflow: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding: 0.8125rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-radius: 3px;
  background: hsla(0, 0%, 0%, 0.04);
}

table {
  font-size: 1rem;
  line-height: 1.625rem;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-collapse: collapse;
}

fieldset {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

blockquote {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.8125rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: calc(0.8125rem - 1px);
  color: hsla(0, 0%, 0%, 0.53);
  border-left: 4px solid hsla(0, 0%, 0%, 0.13);
}

hr {
  height: 1px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: calc(0.8125rem - 1px);
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: none;
  background: hsla(0, 0%, 0%, 0.2);
}

small {
  font-size: 0.75em;
}

strong {
  font-weight: 600;
}

dt {
  font-weight: 600;
}

th {
  font-weight: 600;
}

li {
  margin-bottom: calc(0.8125rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-top: calc(0.8125rem / 2);
  margin-bottom: calc(0.8125rem / 2);
  margin-left: 1.625rem;
}

li > ul {
  margin-top: calc(0.8125rem / 2);
  margin-bottom: calc(0.8125rem / 2);
  margin-left: 1.625rem;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}

acronym {
  cursor: help;
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}

abbr[title] {
  cursor: help;
  text-decoration: none;
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}

thead {
  text-align: left;
}

td,
th {
  padding-top: 0.8125rem;
  padding-right: 1.08333rem;
  padding-bottom: calc(0.8125rem - 1px);
  padding-left: 1.08333rem;
  text-align: left;
  border-bottom: 1px solid;
  border-color: var(--border-color);
  font-feature-settings: tnum;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

h3,
h4,
h5,
h6 {
  margin-top: 1.625rem;
  margin-bottom: 0.8125rem;
}

ol,
ul {
  margin-left: 2.03125rem;
}

li > ol,
li > ul {
  margin-left: 2.03125rem;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

a:hover,
a:active {
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: flex-end;

  & * + * {
    margin-left: 1rem;
  }
}

.header-image {
  margin: 0;
  border-radius: 50%;
  align-self: center;
}

.header-info {
  flex-grow: 1;
}

.header-subheading {
  font-weight: normal;
  display: block;
}

.section-list {
  margin: 0;
  list-style: none;
}

/* List */

.list-subheading {
  display: block;
}

.list-dates {
  font-weight: bold;
  margin-bottom: 0.8125rem;
}

.lang {
  text-decoration: none;
  align-self: flex-start;
}

.footer {
  padding-top: var(--element-h-padding);
}
