@import "./common.css";

:root {
  --font-sans:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Lucida Console", "Courier New", monospace;
  --font-headings: var(--font-sans);
  --bd-radius: 4px;
  --side-padding: 2rem;
  --element-h-padding: 1.5rem;
  --element-v-padding: 1rem;
  --color: #000;
  --color-link: #2f588e;
  --background-color: #fff;
}

/* Header */

.header {
  display: flex;
  align-items: flex-end;

  & * + * {
    margin-left: 1rem;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;

    & * + * {
      margin-left: 0;
    }
  }
}

.header-image {
  border-radius: 50%;
  margin: 0;
  align-self: center;
}

.header-info {
  flex-grow: 1;
}

.header-subheading {
  display: block;
  font-weight: normal;
}

/* Section */

.section-list {
  list-style: none;
  margin: 0;
}

/* List */

.list-subheading {
  display: block;
}

.list-dates {
  font-weight: bold;
  margin-bottom: 0.8125rem;
}
